<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> ToDo</title>
		<link rel="stylesheet" href="assets/css/base.css">
		<link rel="stylesheet" href="assets/css/index.css">
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<todos-head></todos-head>
				<input class="new-todo"
				v-model="newTodo"
				v-on:keyup.enter="addTodo"
				placeholder="What needs to be done?" autofocus>
			</header>
			<section class="main">
				<ul class="todo-list">
					<li v-for="t in filteredTodos" 
						:class="{completed: t.completed, editing: t == editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="t.completed" />
							<label v-on:dblclick="editTodo(t)"> {{t.title}}</label>
							<button class="destroy" v-on:click="removeTodo(t)"></button>
						</div>
						<input class="edit" type="text"
							v-model="t.title" 
							v-on:blur="doneEdit(t)"
							v-on:keyup.enter="doneEdit(t)" />
					</li>
				</ul>
				<input class="toggle-all" id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list"></ul>
			</section>
			<footer class="footer">
				<ul class="filters">
					<li><a href="#" @click.prevent="visibility='all'" :class="{selected: visibility == 'all'}">All</a></li>
					<li><a href="#" @click.prevent="visibility='active'" :class="{selected: visibility == 'active'}">Active</a></li>
					<li><a href="#" @click.prevent="visibility='complete'" :class="{selected: visibility == 'complete'}">Complete</a></li>
				</ul>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="https://github.com/angrha">Aang Wijaya Sakti</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		
		<script src="assets/js/main.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>
