<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> ToDo</title>
		<link rel="stylesheet" href="assets/css/base.css">
		<link rel="stylesheet" href="assets/css/index.css">
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>{{message}}</h1>
				<input class="new-todo"
				v-model="newTodo"
				v-on:keyup.enter="addTodo"
				placeholder="What needs to be done?" autofocus>
			</header>
			<section class="main">
				<ul class="todo-list">
					<li class="todo" v-for="t in todos">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="t.completed" />
							<label> {{t.title}}</label>
							<button class="destroy" v-on:click="removeTodo(t)"></button>
						</div>
					</li>
				</ul>
				<input class="toggle-all" id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list"></ul>
			</section>
			<footer class="footer">
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="https://github.com/angrha">Aang Wijaya Sakti</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		
		<script src="assets/js/main.js"></script>
	</body>
</html>
